html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #C0C0C0;
}

.index {
    background-color: #116466; /* For browsers that do not support gradients */
    background-image: linear-gradient(black, #116466);
    height: 545px;
    color: #C0C0C0;
}

.about-me {
    background-color: black;
    background-image: linear-gradient(black, #116466);
    height: 545px;
    color: #C5C6C7;
    display: flex;
}

.footer-links {
    background-color: #116466;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}