@page
@model Portfolio.Pages.AboutMeModel
@{
    <div class="about-me">
   
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem; margin: 50px;">
            <div class="card-header">Education</div>
            <div class="card-body">
                <h5 class="card-title">San Juan college</h5>
                <h5>(Aug 2020 - Dec 2021)</h5>
                <p class="card-text">
                    During my time in college is when I first started learning programming.
                    I picked up C# and Java while working on an IDE called Jgrasp. I really enjoyed the class and learned
                    a fair amount. However I learned about coding bootcamps and decided to give them a try
                </p>

                <h5 class="card-title">TrueCoders</h5>
                <h5>(Aug 2022 - Jan 2023)</h5>
                <p class="card-text">
                    TrueCoders is a bootcamp I found that really gave me an insight of how a website works. I have learned 
                    how to use visual studio code along with github. Also they taught me all the things a .net developer 
                    would need to know.
                </p>
            </div>
        </div>


        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 50px; display: inline;">
            <div class="card-header">Skills</div>
            <div class="card-body">
                <h5 class="card-title">C++</h5>
                <h5 class="card-title">Java</h5>
                <h5 class="card-title">C#</h5>
                <h5 class="card-title">CSS</h5>
                <h5 class="card-title">HTML</h5>
                <h5 class="card-title">MySql</h5>
                <h5 class="card-title">Bootstrap</h5>
                <h5 class="card-title">.Net Core</h5>
                <h5 class="card-title">Visual Studio</h5>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 50px; display: inline;">
            <div class="card-header">Projects</div>
            <div class="card-body">

                <h5 class="card-title">Fruit Stand (Database)</h5>
                <h5 class="card-title">Riddle Game (Boostrap)</h5>
                <h5 class="card-title">Workout generator(API)</h5>
                <h5 class="card-title">Car lot(Database)</h5>
                
            </div>
        </div>
    
   </div>
}
