@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello my name is Alvaro I make web applications using the ASP.Net framework.</h1>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Skills
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">C#</li>
    <li class="list-group-item">css</li>
    <li class="list-group-item">html</li>
    <li class="list-group-item">MySQL</li>
    <li class="list-group-item">Visual Studio</li>
  </ul>
</div>


