@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="index">
<div class="text-center">
    <h1 class="display-4">Hello my name is Alvaro I make web applications using the ASP.Net framework.</h1>
</div>
</div>

